.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
  @media screen and (min-width: 992px) {
    gap: 70px;
  }
}

.about__title {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}
.about__subtitle {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    max-width: 460px;
  }
}
.about__content {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    max-width: 415px;
    margin-bottom: 40px;
  }
}
.about__list {
  padding-left: 30px;
  list-style: none;
  margin-bottom: 50px;

  & .about__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.about__item {
  @media screen and (max-width: 767px) {
    @include centeredByFlex();
    gap: 15px;
  }
}
.about__text {
  color: $color-transparent;
}
.about__checkmark {
  fill: $color-accent;
}

.about-box__list {
  @extend %list;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
}

.about-box__item {
  max-width: 155px;

  .about-box__list &:not(:last-child) {
    margin-bottom: 20px;
  }
  .about-box__list &:nth-child(2) {
    max-width: 140px;
  }
}

.about__amount {
  font-size: 60px;
  line-height: 82px;

  color: $color-accent;
}

.about__img {
  display: none;
  @media screen and (min-width: 992px) {
    display: block;
  }
}
