.about-team {
  position: relative;

  text-align: center;

  background-color: $color-primary;
}
.about-team__container {
  position: relative;
}
.card-set {
  @extend %list;

  

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.card-set__list {
  flex-basis: 100%;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1490px) {
    flex-basis: calc(100% / 4);
  }
}
.card-set__thumb {
  img {
    margin: 0 auto;
  }
}
.card-set__content {
  padding: 30px 45px;
}
.card-set__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  color: $color-accent;
}
.card-set__text {
  font-size: 20px;
  line-height: 27px;
  color: $color-secondary;
}

.about-team__galery {
  display: none;
  @media screen and (min-width: 768px) {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  img {
    width: 370px;
    @media screen and (min-width: 992px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 100%;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}
