.about-hero {
  color: $color-secondary;
}
.about-hero__container {

  @media screen and (max-width: 991px) {
    width: 100%;
  }

  @media screen and (min-width: 992px) {
    @include centeredByFlex(flex, space-between, flex-end);
  }
  
}
.about-hero__overlay {
  margin: 0 auto;
  max-width: 1245px;

  background-image: linear-gradient($bg-color-hero-overlay-desktop, $bg-color-hero-overlay-desktop),
    url(../images/about-hero-bg.jpg);
  @include centeredBackground();
}
.about-hero__title {
  display: none;

  @media screen and (min-width: 992px) {
    display: block;
    margin-bottom: 60px;
    font-family: $font-family-title;
    font-weight: 400;
    font-size: 70px;
    line-height: 1.26;
  }
}

.about-hero__title--mobile{
    margin-bottom: 30px;
    font-family: $font-family-title;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.26;

   @media screen and (min-width: 768px) and (max-width: 991px) {

    margin-bottom: 60px;
    font-size: 70px;
  }

  @media screen and (min-width: 992px) {
    display: none;
  }
}

.about-hero__content-box {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  background-color: $bg-color-accent;

  @media screen and (min-width: 992px) {
    padding: 222px 93px 70px;
    text-align: left;
  }
}
.about-hero__subtitle {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
}
.about-hero__text {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.35;
}
