.galery {
  text-align: center;

  background-color: $color-primary;
}
.galery__overlay{
    max-width: 1245px;
    margin: 0 auto;

    background-color: $color-primary;
    background-image: url(../images/main/galery-bg.webp);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient($bg-color-hero-overlay-desktop, $bg-color-hero-overlay-desktop),
    url(../images/main/galery-bg@2x.webp);
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    background-image: linear-gradient($bg-color-hero-overlay-desktop, $bg-color-hero-overlay-desktop),
    url(../images/main/galery-bg@3x.webp);
  }

    @include centeredBackground();
}
.galery__container {
  background-color: $bg-galery-section;
}
.galery__title {
  margin-bottom: 30px;
  @media screen and (min-width: 768px){
    margin-bottom: 104px;
  }
}
.galery__text {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 1.34;

  color: $color-secondary;

  @media screen and (min-width: 768px) {
    margin-bottom: 104px;
    max-width: 405px;

    font-size: 29px;
  }
}

