.hero {
  text-align: center;
}
.hero__overlay {
  position: relative;

  margin: 0 auto;
  max-width: 1245px;

  background-image: linear-gradient($bg-color-hero-overlay, $bg-color-hero-overlay),
    url(../images/hero__overlay.jpg);
  @include centeredBackground();
  @media screen and (min-width: 768px) {
    height: 713px;
  }
}

.hero__content-box {
  padding-top: 60px;
  padding-bottom: 60px;


  color: $color-secondary;
  background-color: $bg-color-accent;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    height: 100%;
    padding: 50px 59px 50px 78px;
  }
}

.hero__subtitle {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}
.hero__title {
  margin-bottom: 30px;

  font-family: $font-family-title;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.26;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
    max-width: 480px;
    font-size: 70px;
  }
}
.hero__text {
  line-height: 1.37;

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
  &--margin {
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }
  }
}
.working-hours {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    gap: 60px;
  }
}
.working-hours__text {
  max-width: 120px;

  font-weight: 700;

  @media screen and (min-width: 768px) {
    width: 240px;
  }
}
.working-hours__time {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.35;
  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}
