.team {
    background-color: $color-primary;
    background-image: linear-gradient($bg-color-hero-overlay, $bg-color-hero-overlay);
}   
.team__overlay {
    margin: 0 auto;
    max-width: 1245px;

    background-color: $color-primary;
    background-image: linear-gradient($bg-color-hero-overlay, $bg-color-hero-overlay), url(../images/team-bg.jpg);
    @include centeredBackground(no-repeat, left center, contain);
}
.team__box {
    max-width: 440px;
    margin-left: auto;
}

.team__title {
    margin-bottom: 55px;
}

.team__subtitle {
    margin-bottom: 70px;
}
.team__text {
    margin-bottom: 72px;

    font-weight: 700;
    color: $color-secondary;
}
