body{
    
    font-family: $font-family-primary;
    font-size: 18px;
    line-height: 1.35;
    
    color: $color-primary;

    // @media screen and (min-width:768px){
    //     font-size: 20px;
    // }
    @media screen and (min-width: 1450px){
        padding-left: 355px;
    }
}

h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
}
a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

