.container__fluid{
    width: 100%;
    padding: 0 15px;
}
.container{
    
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: 768px) {
        width: 720px;
    }
    @media screen and (min-width: 992px) {
        width: 920px;
    }
    @media screen and (min-width: 1200px) {
        width: 1140px;
    }
    @media screen and (min-width: 1490px) {
        width: 1095px;
    }
  
}
.container__small {
    width: 615px;
    padding: 0 15px;
    margin: 0 auto;
}