.section{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 768px){
        padding-top: 70px;
    }
}

.section--large-top{
    padding-top: 324px;
}
.section--bottom-large{
    padding-bottom: 354px;
}

