.menu-page {
}
.menu-page__title {
  max-width: 430px;
  @media screen and (min-width: 1200px) {
    max-width: 465px;
  }
}
.menu-page__list {
  @extend %list;
}
.menu-page__item {
  @media screen and (max-width: 767px) {
    text-align: center;
    .menu-page__list &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
  @media screen and (min-width: 768px) {
    @include centeredByFlex(flex, space-between, center);
    gap: 30px;
  }

  .menu-page__list &:not(:last-child) {
    margin-bottom: 70px;
  }
}
.menu-page__img{
  @media screen and (max-width: 767px) {
    margin: 0 auto 30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px){
    width: 50%;
  }
}
.menu-page__wrap {
  max-width: 415px;
  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    .menu-page__list .menu-page__item:nth-child(even) & {
      order: -1;
    }
  }
}

.menu-page__mb {
  margin-bottom: 30px;
}
