$color-primary: #202738;
$color-secondary: #FFFFFF;
$color-transparent: rgb(32, 39, 56, .7);
$color-accent: #c46b48;

$bg-color-accent: rgba(196, 107, 72, 0.6);
$bg-color-hero-overlay: rgba(0, 0, 0, 0.3);
$bg-color-btn: rgba(196, 107, 72, 0.9);


$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Oranienbaum', serif;
$font-family-title: 'Original Surfer', cursive;

$transition: 250ms ease-in-out;