$color-primary: #202738;
$color-secondary: #FFFFFF;
$color-transparent: rgb(32, 39, 56, .7);
$color-accent: #c46b48;


$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Oranienbaum', serif;
$font-family-title: 'Original Surfer', cursive;

$transition: 250ms ease-in-out;